--- 
import BaseLayout from "../layouts/BaseLayout.astro"; 
import ContactCTA from "../components/ContactCTA.astro"; 
import Hero from "../components/Hero.astro"; 
import Icon from "../components/Icon.astro";
--- 

<BaseLayout 
  title="À propos | Damien Fasquelle" 
  description="Découvrez le parcours riche et les projets captivants de Damien Fasquelle, développeur Full Stack passionné." 
> 
  <div class="stack gap-20"> 
    <main class="wrapper"> 
		<section class="section1">
			<h1>À propos</h1>
			<p class="tagline">Bienvenue ! Plongez dans mon univers professionnel, mes expériences et ma vision du développement web.</p>
			<img 
          width="353" 
          height="373" 
          src="/assets/image/damienAvatar.jpg" 
          alt="Damien Fasquelle travaillant sur un projet" 
        /> 
		</section>
		<br/>
      <section> 
        <h2 class="section-title">Mon Parcours <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient /></h2> 
        <div class="content"> 
          <!-- Expérience IPERCOM -->
          <div class="experience-block"> 
            <h3>Alternant développeur Full Stack, IPERCOM - Montussan (depuis janvier 2024)</h3> 
            <p>Chez Ipercom, j’interviens dans le développement d’interfaces utilisateur pour des solutions de téléphonie d’entreprise.</p> 
            <ul> 
              <li>Développement d’interfaces élégantes et performantes avec React et TypeScript.</li> 
              <li>Intégration basée sur les templates Phoenix et Silicon pour assurer un rendu professionnel.</li> 
              <li>Collaboration étroite avec une équipe multidisciplinaire, incluant freelances et alternants.</li> 
              <li>Gestion des étapes clés du cycle de développement : conception, tests, et mise en production.</li> 
            </ul> 
          </div> 

          <!-- Expérience Hackathon -->
          <div class="experience-block"> 
            <h3>Hackathon, LA PISCINE - Mérignac (octobre 2023)</h3> 
            <p>Participation à un hackathon intensif visant à concevoir un site interactif pour un concours de photographie.</p> 
            <ul> 
              <li>Développement d’une plateforme permettant la publication et le vote sur des photos.</li> 
              <li>Gestion efficace des changements de direction et des attentes spécifiques du client.</li> 
              <li>Création d’une interface utilisateur fluide et interactive avec un système de vote limité à 3 par jour.</li> 
              <li>Présentation finale mettant en valeur les fonctionnalités principales et la convivialité du site.</li> 
            </ul> 
          </div> 

          <!-- Projet Infinity Games -->
          <div class="experience-block"> 
            <h3>Projet "Infinity Games", LA PISCINE - Mérignac (avril - août 2023)</h3> 
            <p>Conception d’un site web pour la gestion d’une bibliothèque de jeux vidéo, avec intégration de l’API RAWG.io.</p> 
            <ul> 
              <li>Création de wireframes et maquettes intuitifs pour garantir une expérience utilisateur optimale.</li> 
              <li>Développement en React avec des composants réutilisables et un design responsive.</li> 
              <li>Implémentation de filtres et de tri avancés pour faciliter la recherche de jeux.</li> 
              <li>Test et optimisation pour assurer une stabilité et une satisfaction utilisateur maximales.</li> 
            </ul> 
          </div> 
        </div> 
      </section> 

      <section> 
        <h2 class="section-title">Formations <Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient /></h2> 
        <div class="content"> 
          <!-- Formation Bloc -->
          <div class="formation-block"> 
            <h3>2024/2025</h3> 
            <p>Développeur web et web mobile RNCP niveau 5 (Bac+3) – LA PISCINE Bordeaux</p> 
          </div> 
          <div class="formation-block"> 
            <h3>2020/2021</h3> 
            <p>Titre Développeur web et web mobile RNCP niveau 4 (Bac+2) – LA PISCINE Bordeaux</p> 
          </div> 
          <div class="formation-block"> 
            <h3>2018/2019</h3> 
            <p>Licence Management du sport – Université Bordeaux Montaigne</p> 
          </div> 
          <div class="formation-block"> 
            <h3>2015-2018</h3> 
            <p>DUT Génie Biologique, option IAB – Université de Picardie Jules Verne, Amiens</p> 
          </div> 
        </div> 
      </section> 
      <section> 
        <h2 class="section-title">Mes centres d'intérêts <Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient /></h2> 
        <div class="content2"> 
          <div class="activite-block"> 
            <h3>Badminton</h3> 
            <p>Je pratique le badminton depuis 12 ans et suis arbitre de ligue certifié. Ce sport m’a permis de développer discipline, stratégie, et esprit d’équipe.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Patinage</h3> 
            <p>Passionné par le patinage, j’apprécie la précision et la fluidité de ce sport exigeant.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Plongée</h3> 
            <p>Exploration sous-marine pour découvrir les merveilles du monde aquatique et apprécier le calme des profondeurs.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Escalade</h3> 
            <p>Un sport qui allie endurance, force et réflexion pour relever des défis physiques et mentaux.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Voyages</h3> 
            <p>Passionné de voyages, je découvre régulièrement de nouvelles cultures et paysages pour enrichir ma vision du monde.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Trading et Cryptomonnaies</h3> 
            <p>Investisseur actif dans les cryptomonnaies et le trading, je me tiens informé des tendances économiques et technologiques.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Codage</h3> 
            <p>Le développement web reste une passion, que je cultive à travers mes projets personnels et professionnels.</p> 
          </div> 
          <div class="activite-block"> 
            <h3>Jeux Vidéo</h3> 
            <p>Fan de jeux vidéo, je m’intéresse aussi bien à leur design qu’à leur narration, en explorant divers genres et plateformes.</p> 
          </div> 
        </div> 
      </section> 
      
    </main> 

    <ContactCTA /> 
  </div> 
</BaseLayout> 

<style> 

.content2 { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 2rem; 
    margin: 2ch;
  } 

  .activite-block { 
    background-color: var(--gray-900); 
    padding: 1.5rem; 
    border-radius: 1rem; 
    box-shadow: var(--shadow-sm); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  } 

  .activite-block:hover { 
    transform: translateY(-5px); 
    box-shadow: var(--shadow-lg); 
  } 

.tagline {
		max-width: 37ch;
		margin-inline: auto;
		font-size: x-large;
	}

.section1 {
	margin: auto;
	width: 80%;
	text-align: center;
}

  .about { 
    display: flex; 
    flex-direction: column; 
    gap: 3.5rem; 
  } 

  img { 
    margin-top: 1.5rem; 
    border-radius: 1.5rem; 
    box-shadow: var(--shadow-md); 
  } 

  .content { 
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
	margin: 2ch;
  } 

  .experience-block, .formation-block{ 
    background-color: var(--gray-900); 
    padding: 1.5rem; 
    border-radius: 1rem; 
    box-shadow: var(--shadow-sm); 
  } 

  .section-title { 
    font-size: var(--text-xl); 
    color: var(--gray-0); 
  } 

  h3 { 
    font-size: var(--text-lg); 
    margin-bottom: 0.5rem; 
    color: var(--primary); 
  } 

  ul { 
    padding-left: 1.5rem; 
    list-style-type: disc; 
  } 

  ul li { 
    margin-bottom: 0.5rem; 
    color: var(--gray-200); 
  } 

  @media (min-width: 50em) { 
    .about { 
      display: grid; 
      grid-template-columns: 1fr 60% 1fr; 
    } 
    .content2 { 
      grid-template-columns: repeat(3, 1fr); 
      gap: 3rem; 
    } 
  } 
</style> 
