---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développement Web</h2>
		<p>Expertise en technologies Full Stack :  <span> React </span>, Symfony, PHP, JavaScript, HTML5, Sass, et Bootstrap. Création d’interfaces modernes et performantes.</p>
	</div>
	<div class="stack">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gestion de Base de Données</h2>
		<p>Compétences solides avec MariaDB et Looping pour le design et l’optimisation des bases de données relationnelles.</p>
	</div>
	<div class="stack">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Méthodes Agiles</h2>
		<p>Pratique des méthodologies Agile, gestion des projets avec Trello, Jira, diagrammes de Gantt, et collaboration en équipe.</p>
	</div>
	<div class="stack">
		<Icon icon="sun" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Versionnement</h2>
		<p>Expérience approfondie avec Git pour le contrôle de version et la collaboration sur des projets d’équipe.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}
	span {
		font-weight: bolder;
		font-size: larger;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
